<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1> Meet the Talented Photographers</h1>

		<nav>
			<ul>
				<li><a href="/user">Users</a></li>
				<li><a href="/photo">Photos</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>